<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Face Webcam</title>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>

  </head>
  <body>
    <div id="container" style="display:none">
      <video autoplay="true" id="videoElement"></video>
    </div>
    <div class = 'video'>
      <img id="image">
    </div>

    <script type="text/javascript" src="static/js/face_webcam.js"></script>
  </body>
</html>
